---
title: Welcome to LMS.io 
---
<%= partial "interaction" %>
<%= partial "user" %>
<%= partial "lesson" %>
<%= partial "course" %>
<%= partial "program" %>

<div className="content" role="main">
  <div id="pageData"></div>
</div> 


<script type="text/babel">

ReactDOM.render(
  <Programs />, 
  document.getElementById('pageData')
);
</script>
